@font-face {
  font-family: "FE-Schrift";
  src: url("../../../../public/FE-FONT.TTF") format("truetype");
}

h1 {
  font-family: "FE-Schrift";
  font-weight: 500;
  font-size: 80px;
  letter-spacing: 3px;
}


.hh {
    padding-top: 100px;
    margin-block: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}